body {
  font-family: 'Roboto', sans-serif;
}

.events {
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #9a1bde;
}

.event-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #9a1bde;
}

.event-card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.event-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.orders-content {
  border: 1px solid black;
  padding: 20px;
  margin: 20px 0;
  
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.description {
  color: #540fc4;
  margin-bottom: 10px;
}

.date {
  color: #540fc4;
  margin-bottom: 10px;
}

#ticketType {
  width: 100%;
}

.actions {
  display: flex;
  flex-wrap: wrap;
}

.quantity {
  display: flex;
  align-items: center;
}

#page-header {
  background-color: #fff;
  position: sticky;
  top: 0;
}

.link-item {
  color: #9a1bde;
}

.logo {
  height: 100px;
  padding: 6px;
}

.add-btn {
  background-color: #9a1bde;
}

.add-to-cart-btn {
  background: #9a1bde;
  margin: 22px auto;
  display: block;
  width: 100%;
}

.main-content-component {
  margin-bottom: 40px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-label {
  font-weight: bold;
  margin-right: 10px;
}

.quantity-input {
  width: 50px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}




.background-image-container {
  background-image: url('./src/assets/background.jpg');
  background-size: cover;
  background-position: center;
}

.edit-button,
.delete-button {
  background-color: #9a1bde;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #7f0fae;
}


.filter-buttons {
  margin-top: 10px;
  margin-left: 55px;
  display: flex;
  gap: 20px;
}

.filter-buttons button {
  padding: 8px 16px;
  background-color: #7f0fae;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #7f0fae;
}

.filter-inputs {
  margin-top: 10px;
  display: flex;
}

.filter-inputs input {
  padding: 8px;
  border: 3px solid #7f0fae;
  border-radius: 4px;
}

.filter-inputs input[type="number"] {
  width: 150px;
}

.filter input{
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  margin-left: 55px;
  margin-top: 10px;
}